.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
vignettes/rsconnect
iss001_avoid_text_overlap_cache
iss001_avoid_text_overlap_files
all_multipaged.pdf
min_multipaged.pdf
Yose.pdf
tmp2.R
Rplots.pdf
README.html
rsconnect
